<?xml version="1.0" encoding="UTF-8"?>
<!-- 로그 레벨은 낮은 것부터 높은 것까지 TRACE < DEBUG < INFO < WARN < ERROR < FATAL로 구분되며, WARN으로 설정하면 WARN보다 낮은 정보는 모두 출력되지 않습니다 -->
<configuration>

    <!-- Spring Boot 기본 logback 설정 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <property name="LOG_HOME" value="/logs/${APP_NAME}"/>

    <!-- 1. 콘솔에 출력-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <withJansi>true</withJansi>-->
        <!--이 로그 appender는 개발용으로 최소 레벨만 설정하며, 콘솔에 출력되는 로그 레벨은 이 레벨보다 크거나 같은 로그 정보입니다-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 2. 파일에 출력  -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 현재 기록되는 로그 파일의 전체 경로 -->
        <file>${LOG_HOME}/log.log</file>
        <encoder>
            <!--로그 파일 출력 형식-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5level ---[%15.15thread] %-40.40logger{39} : %msg%n%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 로그 기록기의 롤링 정책, 크기와 시간에 따라 기록 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 롤링 후 로그 파일 이름 패턴 -->
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 단일 로그 파일의 최대 크기 -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 최대 30일간 로그 보관 -->
            <maxHistory>30</maxHistory>
            <!-- 전체 로그 파일 크기 1GB 초과 금지 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <!-- 임계값 필터, INFO 레벨보다 높은 로그 출력 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- 개발 환경은 콘솔에 출력 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 운영 환경은 파일에 출력 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
